@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --primary-color: #283618;
    --secondary-color: #f2cc8f;
    --accent1-color: #e07a5f;
    --accent2-color: #81b29a;
    --background-color: #f4f1de;
    
    --heading-font: 'Ubuntu Sans', serif;
    --paragraph-font: 'Open Sans', serif;

    --nav-background-color: #ffffff;
    --nav-link-color: #81b29a;
    --nav-hover-link-color: #81b29a;
    --nav-hover-background-color: lightgray;
}

body {
    background-color: var(--background-color);
    max-width: 750px;
}

header {
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}

nav a:link {
    text-decoration: none;
    color: var(--primary-color)
}

nav a:hover {
    color: var(--secondary-color);
}

nav a:visited {
    color: var(--accent1-color)
}

.hero img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin: 20px;
}

p {
    color: var(--primary-color);
    font-family: var(--paragraph-font);
    padding: 10px;
}

h1 {
    position: absolute;
    bottom: 430px;
    left: 290px;
    background: radial-gradient(#eee, #fffcf856);
    font-family: var(--heading-font);
}

article {
    position: absolute;
    float: none;
    bottom: 260px;
    left: 50px;
    background: radial-gradient(#eee, #fffcf856);
    margin: 20px;
    border: 1px solid var(--secondary-color);
    padding: 0.65rem;
    box-shadow: 0 0 10px #111;
    opacity: 0.9;
}

.customer {
    float:right;
    opacity: 1;
}

h1, h2 {
    color: var(--accent1-color);
    font-family: var(--heading-font);
}

.adventure {
    margin: 20px;
}

section.history {
    margin: 20px;
}

.description {
    margin: 0px;
    padding: 0px;
}

footer {
    margin-top: 20px;
    border-top: 1px solid var(--accent2-color);
    font-size: smaller;
}