@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --primary-color: #e0e1dd;
    --secondary-color: #0d1b2a;
    --accent1-color: #778da9;

    --heading-font: 'Ubuntu Sans', serif;
    --paragraph-font: 'Open Sans', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    max-width: 700px;
    text-align: center;
    padding:10px;
}

h1 {
    font-size: 2.2rem;
    color: var(--secondary-color);
    font-family: var(--heading-font);
}

form {
    background-color: var(--primary-color);
    padding: 30px;
    margin: 10px;
    border-radius: 0.5em;
    display:flex;
    flex-direction: column;
    border: thin solid black;
    max-width: 700px;
    color: var(--secondary-color);
}

label {
    font-size: 1.1rem;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 8px;
    font-family: var(--paragraph-font);
}

input, select, textarea {
    padding: 5px;
    font-size: .9em;
}



button {
    background-color: var(--accent1-color);
    margin-top: 25px;
    width: 600px;
    font-size: 1.2em;
    border-radius: 0.3em;
    align-self: center;
}

button:hover {
    background-color: darkgray;
}

footer {
    width: 700px;
    text-align: center;
    margin: 10px;
    border-top: solid thin var(--secondary-color);
    padding: 15px;

}