* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
nav a {
    color: white;
    display:block;
    padding: 20px;
    text-decoration: none;
}
h1{
    color: steelblue;
    border-bottom: 1px solid steelblue;
    margin: 10px;
}
main img{ 
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}
p {
    padding: 0;
}

main{
    max-width: 600px;
    padding: 10px;
}

aside{
    width: 600px; 
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    color: #ffffff;
    text-align: center;
    position: relative;
}

aside img{
    width: 200px;
    height:auto;
    border: 1px solid;
}

aside h2 {
    position: absolute;
    top: 30px;
    left: 140px;
}

footer{
    margin-top: 30px;
    border-top: 1px solid steelblue;
    padding: 20px;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px;
    padding: 1rem;
    background-color: steelblue;
    border: 1px solid;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2;
    margin: 1rem;
}

aside{
    width: 20rem;
    position: relative;
    grid-row: 1/2;
    grid-column: 1;
}