* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
}
nav a {
    color: white;
    display:block;
    padding: 20px;
}
h1{
    color: steelblue
}
main img{ 
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}
p {
    padding: 0;
}

main{
    max-width: 600px;
}

aside{
    width: 600px; 
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    color: #ffffff;
    text-align: center;
    position: relative;
}

aside img{
    width: 200px;
    height:auto;
}

aside h2 {
    position: absolute;
    top: 30px;
    left: 276px;
}

footer{
    margin-top: 30px;
    border-top: 1px solid steelblue;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px;
    padding: 1rem;
    background-color: steelblue;
}